.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .login-btn {
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1rem;
        border: 2px solid white;
        box-shadow: inset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: 0.4s ease-in-out;
        cursor: pointer;
        svg{
            font-size: 2rem;
        }
        &:hover{
            border-radius: 3rem;
            border-width: 10px;
            border-top-color: red;
            border-bottom-color: green;
            border-left-color: aqua;
            border-right-color: yellow;

        }

    }
    
}