.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    color: white;
    &-text{
        text-transform: uppercase;
        letter-spacing: 0.2rem;

    }
    h1{
        font-size: 3.5rem;

    }
    &-image{
        border-radius: 10rem;
        height: 13rem;
        border: 0.3rem solid var(--accent-color);
        padding: 1rem;

    }
    &-links{
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
        a{
            color: var(--accent-color);
            svg{
                font-size: 3rem;
            }
        }
    }

}